    <footer class="footer">
      <div class="content has-text-centered">
        <strong>GoHub</strong>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </div>
    </footer>
  </body>
</html>