<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GoHub</title>

        <link rel="stylesheet" href="http://{{.Domain}}/assests/css/bulma.min.css">
        <script defer src="http://{{.Domain}}/assests/icons/all.js"></script>
    </head>

    <body>
    <!-- TODO: Add universal navbar here -->